<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp">

        <activity
            android:name=".ViewDailyEntryActivity"
            android:exported="false" />
        <activity
            android:name=".TriageHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ParentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ZoneHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".GreenAdviceCardActivity"
            android:exported="false" />
        <activity
            android:name=".HomeStepsCardActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyCardActivity"
            android:exported="false" />
        <activity
            android:name=".TriageActivity"
            android:exported="false" />

        <!-- CHANGE: SignInActivity is now the launcher -->
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ProviderMain is now just a normal activity -->
        <activity
            android:name=".ProviderMain"
            android:exported="false" />

        <activity
            android:name=".ChooseIdentityActivity"
            android:exported="false" />
        <activity
            android:name=".SelectSymptomsActivity"
            android:exported="false" />
        <activity
            android:name=".SelectTriggersActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordRecoveryActivity"
            android:exported="false" />
        <activity
            android:name=".CardViewHomeScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".med.MedicineLogWizardActivity"
            android:exported="false" />
        <activity
            android:name=".med.MedicineInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".med.ManageControllerActivity"
            android:exported="false" />
        <activity
            android:name=".med.ManageRescueActivity"
            android:exported="false" />
        <activity
            android:name=".ParentActivity"
            android:exported="true" />
        <activity
            android:name=".MainNavActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FilterEntriesScreen"
            android:exported="false"/>
        <activity
            android:name=".AddSymptomsActivity"
            android:exported="false"/>
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false"/>
    </application>

</manifest>
